# Code editors and IDEs
.idea/
.vscode/
.DS_Store
.jupyter/

# Python and Jupyter
.ipynb_checkpoints/
__pycache__/

# Generated project directories
scripts/data/water/raw/
scripts/data/weather/raw/
scripts/experiments/
scripts/analysis/

# Generated project files
scripts/data/data.db
scripts/data/water/data.json
scripts/data/weather/data.json

.cache/
.ipython/
.local/
venv/
